* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f4;
}

.text-center {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
}

.vetprod {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 70%;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vetprod1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.itemname {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color: #333;
    padding-inline: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}

.itemname1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}


.sparprod {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 70%;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 
    5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sparprod1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 55%;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding:
        5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-fluid {
    padding: 0;
}


.navbar {
    margin-bottom: 20px;
    background-color: #ff6f61;
    border: none;
    border-radius: 0;
    font-size: 18px;
    padding-right: 15px;
    padding-left: 15px;
}


.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;  
    margin-right: auto;
}

.dogsPark {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: center;
}
@media only screen and (max-width:768px) {

    /* For tablets: */
    .main {
        width: 80%;
        padding: 0;
    }

    .right {
        width: 100%;
    }
}

@media only screen and (max-width:640px) {
    /* For mobile phones: */
    .menu,
    .main,
    .right {
        width: 100%;
    }
}
